/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/artist.blade - Copy.php
public/errors.log
public/uploads/img_6079e42980c22.jpg
public/uploads/img_6079e5145319a.jpg
public/uploads/img_6079e8529001e.jpg
public/uploads/img_6079ee1ac6501.jpg
public/uploads/img_6079eeffe21ed.jpg
importdate.dat
